<div class="addressbook-navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GT Address Book </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="isCollapsed"
      aria-label="Toggle navigation"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavAltMarkup"
      [ngbCollapse]="isMenuCollapsed"
    >
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="'/'">Home</a>
        <a class="nav-item nav-link" [routerLink]="'/login'">Login</a>
        <a class="nav-item nav-link" [routerLink]="'/register'">Register</a>
        <a class="nav-item nav-link" [routerLink]="'/address'">Address</a>
        <a class="nav-item nav-link" [routerLink]="'/logout'">Logout</a>
        <!-- <a class="nav-item nav-link" href="#">Pricing</a> -->
        <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Godwin Theophilus </small>
  </div>
</footer>
